.drag_context_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    margin-top: 12px;
}
.column_container{
    display: flex;
    flex-direction: column;
    background: #edeef0;
    border-radius: 8px;
}
.column_header{
    display: flex;
    align-items: center;
    padding: 14px 10px;
    justify-content: center;
}

.column_header h5 {
    margin: 0;
}

.droppable_container{
    padding: 5px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    gap: 12px;
    max-height: 600px;
    overflow: auto;
}
.issue_card_container{
    padding: 16px;
    box-shadow: 0px 3px 4px #bebbbb;
    background-color: white;
    border-radius: 6px;
    user-select: none;
}